<body>
<nav class="navbar">
    <div class="logo text-gray-600">NovaMart</div>
    <div class="user-icon">
      <span class="iconify" data-icon="qlementine-icons:user-16" style="width: 32;height: 32;color: #474744;"></span>
    </div>
  </nav>
