
  .main-content {
    width: 100%;
    padding: 30px;
    height: auto;
}
.edit-profile-content {
    width: 100%;
    padding: 30px;
}
.profile-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}
.edit-profile-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    width: 100%;
}
.avatar-upload {
    position: relative;
    display: inline-block;
}
.avatar-edit{
    display: flex;
    justify-content: center;
}
.avatar-edit input {
    display: none;
}
.avatar-edit label {
    color: #334155;
    background: linear-gradient(135deg, #fbb804 0%, #ffd700 100%);
    box-shadow: 0 4px 6px rgba(251, 184, 4, 0.3);
    transition: all 0.3 ease;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
}
.avatar-edit label:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(251, 184, 4, 0.4);
}
.btn-primary {
    background: linear-gradient(135deg, #fbb804 0%, #ffd700 100%);
    box-shadow: 0 4px 6px rgba(251, 184, 4, 0.3);
    color: #334155;
    transition: all 0.3 ease;
}
.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(251, 184, 4, 0.4);
}
.sidebar {

    background: white;
    min-height: 90vh;
    max-height: auto;
    left: 0;
    top: 0;
    box-shadow: 2px 0 10px rgba(0,0,0,0.05);
}

.sidebar button {
    display: flex;
    align-items: center;
    width: 80%;
    padding : 0.5rem;
    border: none;
    background: none;
    font-size: 14px;
    color: #334155;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 8px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }
  .sidebar button:hover {
    background-color: #eaf8e7;
  }
  .sidebar button.active {
    background-color: #2eec71;
    color: #ffff;
    font-weight: bold;
    border-radius: 8px;
  }
  .address-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: all 0.3s;
}
.address-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
.default-badge {
    background: #eaf8e7;
    color: #2eec71;
}

#address {
    width : 100%;
    height : 100px;
    padding: 5px;
}
#cropModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    background: #fff;
    width: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
  }
  
  .modal-header,
  .modal-footer {
    padding: 12px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-body {
    padding: 18px;
    text-align: center;
  }
  
  .crop-area {
    width: 100%;
    height: 250px;
    background: #f4f4f4;
    border: 1px dashed #bbb;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .close-btn {
    cursor: pointer;
    font-size: 22px;
  }
  
  .cancel-btn,
  .crop-btn {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .cancel-btn {
    background: #ccc;
    border-radius: 10px;
  }
  
  .crop-btn {
    background: linear-gradient(135deg, #fbb804 0%, #ffd700 100%);
    box-shadow: 0 4px 6px rgba(251, 184, 4, 0.3);
    color: #334155;
    font-weight: bold;
    border-radius: 10px;
  }
  
  #cropImage{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .offerBtn { 
    background: linear-gradient(135deg, #0057FF 20%, #013562 100%);
    color: #fbfbfb;
    transition: background 0.6s ease-in-out; /* slow smooth hover animation */
  
  }
  .offerBtn:hover {
    background: linear-gradient(135deg, #013562 20%, #0057FF 100%);

  }
  .border-black-x-sides{
    border-left: 1px solid black ;
    border-right:1px solid black;
  }
  #cartItemsDiv{
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display : none
    }
    border-bottom: 1px solid rgb(208, 208, 208); 
  box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.1);
  }