body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Batangas"; /* Choose a name for your font */
  src: url("../fonts/Batangas\ Bold\ 700.otf") format("opentype"); /* Adjust the path to your font file */
}
#nav-logo{
  font-family: Batangas;
}
.category{
  font-weight: 600;
  font-size: 0.8rem;
}
.background-gray{
  background-color: rgb(43, 43, 43);
}

.custom-checkbox-container input {
  position: absolute;
  opacity: 0; /* Hide the native checkbox */
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  vertical-align: middle; /* Align with text */
  margin-right: 5px;
}

/* Style the checkmark when the input is checked */
.custom-checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark visual */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-value {
  vertical-align: middle;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#searchResult-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 38rem;
  height: auto;
  border-radius: 6px;
  margin-left: 14rem;
}
#productSearchResultBox{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

#product-list-item{
  display: flex;
  justify-content: start;
  background-color: #ffffff;
  width: 100%;
  height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: normal;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.271);
 

}
.hide{
  display: none !important;
}
.filterButton{
  background: linear-gradient(135deg, #fbb804 0%, #ffd700 100%);
  box-shadow: 0 0 6px rgba(251, 184, 4, 0.3);
}
.filterButton:hover{
   transform: translateY(-2px);
   box-shadow: 0 10px 15px rgba(251, 184, 4, 0.4);
}
#imageZoom{
  width : 500px;
  height : 500px;
  border-radius: 10px;
  position: relative;
}

#imageZoom img{
  width : 100%;
  height : 100%;
  object-fit: cover;
  object-position: 0 0;
  pointer-events: none;
}

#imageZoom::after{
  position: absolute;
  display: var(--display);
  content: '';
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  background-image: var(--url);
  background-size: 200% 200%;
  background-position: var(--zoom-x) var(--zoom-y);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.150);
  top: 0;
  left: 0;
}
