<%- include("../partials/user-side/userLogin-header.ejs",{title : "User - Registeration"})  %>
<body class="auth-container">
    <div class="container mx-auto px-4 py-12">
      <!-- Main Content -->
      <div class="flex flex-col items-center justify-center">
        <div class="mb-8 text-center">
          <h1
            class="font-bold text-indigo-600"
            style="font-size: 4rem; color: #474744"
          >
            NovaMart
          </h1>
        </div>

        <div
          id="user-register"
          class="tab-content card w-full max-w-2xl p-8 rounded-2xl"
        >
          <h2 class="text-2xl font-bold text-gray-700 mb-6 text-center">
            Create Account
          </h2>
          <div class="relative mb-2">
            <button
              type="button"
              class="w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300"
            >
              <div class="flex items-center justify-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  class="w-6 h-6"
                  viewBox="0 0 48 48"
                >
                  <defs>
                    <path
                      id="a"
                      d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"
                    />
                  </defs>
                  <clipPath id="b">
                    <use xlink:href="#a" overflow="visible" />
                  </clipPath>
                  <path
                    clip-path="url(#b)"
                    fill="#FBBC05"
                    d="M0 37V11l17 13z"
                  />
                  <path
                    clip-path="url(#b)"
                    fill="#EA4335"
                    d="M0 11l17 13 7-6.1L48 14V0H0z"
                  />
                  <path
                    clip-path="url(#b)"
                    fill="#34A853"
                    d="M0 37l30-23 7.9 1L48 0v48H0z"
                  />
                  <path
                    clip-path="url(#b)"
                    fill="#4285F4"
                    d="M48 48L17 24l-4-3 35-10z"
                  />
                </svg>
                <span class="ml-4"> Register using Google</span>
              </div>
            </button>
          </div>

          <div class="separator">
            <span>or</span>
          </div>


          <form
            action="register"
            method="POST"
            onsubmit="return validate()"
          >
           

            <div id="name-section" class="flex flex-row flex-wrap mb-2">
              <div id="first-name-section" >
                <input
                  type="hidden"
                  id="serverError"
                  value="<%= typeof userExists !== 'undefined' ? userExists : '' %>"
                />
                <label for="reg-first-name" class="block  font-bold text-gray-700 mb-2"
                  >First Name</label
                >
                <input
                  type="text"
                  id="reg-first-name"
                  name="firstName"
                  class="input-field  "
                  placeholder="Enter First Name"
                />
              </div>
              <div id="last-name-section">
                <label for="reg-last-name" class="block font-bold text-gray-700 mb-2"
                  >Last Name</label
                >
                <input
                  type="text"
                  id="reg-last-name"
                  name="lastName"
                  class="input-field  "
                  placeholder="Enter Last Name"
                />
              </div>

              <div>
                <p id="reg-name-p" class="text-xs text-gray-500 mt-1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="13"
                    height="13"
                    fill="currentColor"
                    class="bi bi-info-circle inline-block"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                    />
                    <path
                      d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                    />
                  </svg>
                  Name must contain only letters and spaces, with at least 5
                  characters
                </p>
              </div>
            </div>
            <div id="email-and-mobile" class="flex flex-row flex-wrap ">
                <div id="mobileNoDiv" class="">
                    <label for="reg-mobileNumber" class="block font-bold text-gray-700 mb-2"
                      >Mobile Number<span class="font-medium" style="color: #d4d4d4;"> (Optional)</span></label
                    >
                    <input
                      type="tel"
                      id="phone"
                      name="phone"
                      
                      class="input-field "
                    />
                    <p class="text-xs text-gray-500 mt-1">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="13"
                        fill="currentColor"
                        class="bi bi-info-circle inline-block"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                        />
                        <path
                          d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                        />
                      </svg>
                      Please enter your valid mobile number.
                    </p>
                </div>
                  <div id="emailDiv" >
                    <label for="reg-email" class="block  font-bold text-gray-700 mb-2"
                      >Email</label
                    >
                    <input
                      type="email"
                      id="reg-email"
                      name="email"
                      class="input-field "
                      placeholder="name@example.com"
                    />
                    <p id="reg-email-p" class="text-xs text-gray-500 mt-1">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="13"
                        fill="currentColor"
                        class="bi bi-info-circle inline-block"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                        />
                        <path
                          d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                        />
                      </svg>
                      Must
                      contain @ and a domain with extension (like .com,
                      .net, .org)
                    </p>
                  </div>
            </div>
            

            <div id="passwordsDiv" class="flex flex-row flex-wrap mb-3">
                <div id="password-div">
                    <label for="reg-password" class="block font-bold text-gray-700 mb-2"
                      >Password</label
                    >
                    <div id="regPasswordDiv">
                      <input
                        type="password"
                        id="reg-password"
                        name="password"
                        class="input-field "
                        placeholder="Enter Password"
                      />
                      <p id="reg-password-p" class="text-xs text-gray-500 mt-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="13"
                          height="13"
                          fill="currentColor"
                          class="bi bi-info-circle inline-block"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                          />
                          <path
                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                          />
                        </svg>
                        Password must be 8–20 characters and include at least one
                        uppercase letter, one lowercase letter, one number, and one
                        special character (@, #, $, &)
                      </p>
                    </div>
                  </div>
                  <div id="confirmPassword-div">
                    <label for="reg-confirm-password" class="block font-bold text-gray-700 mb-2"
                      >Confirm Password</label
                    >
                    <div >
                      <input
                        type="password"
                        id="reg-confirm-password"
                        name="confirmPassword"
                        class="input-field "
                        placeholder="Confirm Password"
                      />
                      <p
                        id="reg-confirmPassword-p"
                        class="text-xs text-gray-500 mt-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="13"
                          height="13"
                          fill="currentColor"
                          class="bi bi-info-circle inline-block"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                          />
                          <path
                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                          />
                        </svg>
                        Confirm Password must be the same as the above Password
                      </p>
                    </div>
                  </div>
            </div>
            
           
            <div class="mb-4 flex items-center">
              <input
                type="checkbox"
                id="terms"
                name="terms"
                class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500"
              />
              <label
                id="terms-text"
                for="terms"
                class="ml-2 block text-sm text-gray-700"
              >
                I agree to the
                <a href="#" class="text-green-600 hover:underline"
                  >Terms of Service</a
                >
                and
                <a href="#" class="text-green-600 hover:underline"
                  >Privacy Policy</a
                >
              </label>
            </div>
            <button
              type="submit"
              class="loginButton w-full font-bold text-gray-700 py-2 px-4 rounded-lg transition duration-300 mb-4"
            >
              Register
            </button>
            <div class="text-center text-sm text-gray-600">
              Already have an account?
              <a href="/login" class="text-green-500 font-semibold text-md hover:underline"
                >Login here</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="/javascript/registrationValidate.js"></script>
    <script>
      
            const input = document.querySelector("#phone");
    let iti = window.intlTelInput(input, {
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js", // for formatting and validation
      initialCountry: "auto", // or a specific country code like "us"
      geoIpLookup: function(callback) { // optional: lookup user's country based on IP
        fetch("https://ipapi.co/json")
          .then(res => res.json())
          .then(data => {
            countryCode = data.country_calling_code
          return callback(data.country_code)
          })
          .catch(() => callback("us")); // default to US on error
      },
    });
    const form = document.querySelector("form")
    form.addEventListener("submit",() =>{
     input.value = iti.getNumber()
    })
    </script>
  </body>
</html>
